<p>student works!</p>
<table align="center" class="table">
    <thead>
    <th style="background-color: rgb(215, 139, 39);">Name</th>
    <th  style="background-color: rgb(212, 138, 40);">Email</th>
    <th  style="background-color: rgb(212, 138, 40);">Mark</th>
    <th  style="background-color: rgb(212, 138, 40);">Pass/Fail</th>
    
   </thead>
   <tbody *ngFor="let item of student">
  <tr >
    <td>{{item.name}}</td>
    <td>{{item.Email}}</td>
    <td [ngStyle]="{'color':(item.Marks<50) ? 'red' : ((item.Marks>= 50) ? 'green' : null)}" >{{item.Marks}}
    </td>
    <td *ngIf="(item.Marks>=50); else notpass">Pass</td>
    <ng-template #notpass>
      Not pass
     </ng-template>
    <td *ngIf=""></td>
    
  </tr>
  </tbody>
  </table>
  