<input
  #box
  (keyup)="getValue(box.value)"
  type="text"
  placeholder="enter your name"
  name="MyInput"
  class="form-control"
/>
<br />
<div class="container">
  <div class="text-center mt-5">
    <h1 style="color: cornflowerblue">Welcome &nbsp;{{ displayValue }}</h1>
  </div>
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4">
        <div class="card-body">
          <div class="container">
            <div class="controls">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <img src="assets/iteclogo.png" />
                  </div>
                </div>
                  <div class="col-md-6">
                      <h2>our vision</h2>
                      <p>wwwwwwwwwwwwwwwwwwwwww<br>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
                  </div>
               
               </div>
                <div class="row">
                  <div class="col-md-8">
                    <h4 style="color: coral">create the creative</h4>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
